.timers {
  position: relative;
  display: none;
  flex-direction: column;
  background: var(--cor-fundo-timer);
  min-height: 100vh;
  justify-content: space-between;
}
.timers .timers_opcoes {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}
.timers .timers_opcoes #sons {
  display: block;
  border: none;
  background: var(--cor-fundo-timer-destacado);
  width: 10rem;
  height: auto;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--cor-fonte-claro);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}
.timers .timers_opcoes .home {
  background: var(--cor-fundo-timer-destacado);
  border: none;
  border-radius: 0.5rem;
  height: 32px;
  width: 32px;
}
.timers .timers_opcoes .home img {
  height: 24px;
  width: 24px;
}
.timers .timers_opcoes #sons:hover, .timers .timers_opcoes .home:hover {
  cursor: pointer;
  background: var(--cor-fundo-timer-botao);
}
.timers .timer-ativo_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}
.timers .timer-ativo_container .timer {
  background: var(--cor-fundo-timer-destacado);
  font-size: 64px;
  font-weight: 700;
  color: var(--cor-fonte-claro);
  padding: 0.25rem 0.5rem;
  min-width: 14rem;
  border-radius: 1rem;
  text-align: center;
}
.timers .timer-ativo_container .timer_descricao {
  font-size: 32px;
  font-weight: 500;
  color: var(--cor-fonte-claro);
  text-align: center;
}
.timers .timer_mensagem {
  color: var(--cor-fonte-medio);
  font-weight: 400;
  margin: 4rem;
  text-align: center;
}

.timers_configuracao {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--cor-fundo-timer);
  height: 100vh;
}
.timers_configuracao .configuracao_formulario {
  text-align: center;
  align-items: center;
}
.timers_configuracao .configuracao_formulario .nome-atividade input {
  border: none;
  border-radius: 0.5rem;
  font-size: 24px;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  text-align: center;
  background: var(--cor-fundo-timer-destacado);
  color: var(--cor-fonte-claro);
}
.timers_configuracao .configuracao_formulario .nome-atividade input:focus {
  outline: none;
}
.timers_configuracao .configuracao_formulario .tempo_formulario {
  display: flex;
  justify-content: center;
  font-size: 32px;
  background: var(--cor-fundo-timer-destacado);
  max-width: 10rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  color: var(--cor-fonte-claro);
}
.timers_configuracao .configuracao_formulario .tempo_formulario .minutos, .timers_configuracao .configuracao_formulario .tempo_formulario .segundos {
  font-size: 32px;
  max-width: 4rem;
  border: none;
  background: var(--cor-fundo-timer-destacado);
  text-align: center;
  color: var(--cor-fonte-claro);
}
.timers_configuracao .configuracao_formulario .tempo_formulario .minutos:focus, .timers_configuracao .configuracao_formulario .tempo_formulario .segundos:focus {
  outline: none;
}
.timers_configuracao .configuracao_formulario .temas-opcoes {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 1rem;
}
.timers_configuracao .configuracao_formulario .temas-opcoes .tema-opcao {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
.timers_configuracao .configuracao_formulario .temas-opcoes .tema-opcao:hover {
  cursor: pointer;
}
.timers_configuracao .configuracao_formulario .temas-opcoes .tema-escuro {
  background: #191825;
}
.timers_configuracao .configuracao_formulario .temas-opcoes .tema-azul {
  background: #9AC5F4;
}
.timers_configuracao .configuracao_formulario .temas-opcoes .tema-verde {
  background: #d3f1bf;
}
.timers_configuracao .configuracao_formulario .temas-opcoes .tema-claro {
  background: #F8E8EE;
}
.timers_configuracao .configuracao_formulario .formulario_campo-descricao {
  color: var(--cor-fonte-medio);
  margin: 0.5rem 0;
}
.timers_configuracao .configuracao_formulario .nome-atividade {
  grid-area: nome;
}
.timers_configuracao .configuracao_formulario .temas {
  grid-area: temas;
}
.timers_configuracao .configuracao_formulario .tempo_atividade {
  grid-area: tempo-atividade;
}
.timers_configuracao .configuracao_formulario .tempo_descanso {
  grid-area: tempo-descanso;
}
.timers_configuracao .configuracao_formulario .tempo_descanso-longo {
  grid-area: tempo-descanso-longo;
}
.timers_configuracao .botao-iniciar_container .timer_iniciar {
  margin: 2rem 0;
  font-size: 32px;
  border: none;
  padding: 0.25rem 1rem;
  background: var(--cor-fundo-timer-destacado);
  color: var(--cor-fonte-claro);
  border-radius: 1rem;
}
.timers_configuracao .botao-iniciar_container .timer_iniciar:hover {
  background: var(--cor-fundo-timer-botao);
  cursor: pointer;
}

@media (orientation: portrait) {
  .configuracao_formulario {
    display: block;
    margin-top: 1rem;
  }
}
@media (orientation: landscape) {
  .configuracao_formulario {
    display: grid;
    grid-template-areas: "nome nome nome temas temas temas" "tempo-atividade tempo-atividade tempo-descanso tempo-descanso tempo-descanso-longo tempo-descanso-longo";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 8rem 8rem;
  }
}
.pomodoro-descricao_container {
  padding: 0 2rem;
}
.pomodoro-descricao_container .pomodoro-descricao_titulo {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin: 2rem 0;
}
.pomodoro-descricao_container .pomodoro-descricao_subtitulo {
  font-size: 24px;
  font-weight: 500;
  margin: 1rem 0;
}
.pomodoro-descricao_container .pomodoro-descricao_texto {
  font-size: 20px;
}

.pomodoro-descricao_dicas {
  min-height: 100vh;
}
.pomodoro-descricao_dicas .dicas_titulo {
  font-size: 48px;
  font-weight: 500;
  margin: 2rem 0;
  padding: 2rem 0;
  text-align: center;
}
.pomodoro-descricao_dicas .dicas_container {
  text-align: center;
  padding: 2rem 0;
  border-bottom: 2px solid var(--cor-borda);
  border-top: 2px solid var(--cor-borda);
  gap: 1rem;
}
.pomodoro-descricao_dicas .dicas_container .dica_titulo {
  font-size: 24px;
  margin: 1rem 0;
}
.pomodoro-descricao_dicas .dicas_container .dica_descricao {
  padding: 0 4rem;
}

@media (max-width: 720px) {
  .dicas_container {
    display: block;
  }
}
@media (min-width: 720px) {
  .dicas_container {
    display: grid;
    grid-template-areas: "descanco interrupcoes" "ferramentas tecnicas" "ambiente saude";
  }
}
:root {
  --cor-fonte-claro: #E9F8F9;
  --cor-fonte-medio: #DBDFEA;
  --cor-fundo-timer: #8EA7E9;
  --cor-fundo-timer-destacado: #7286D3;
  --cor-fundo-timer-botao: #146C94;
  --cor-borda: #FFACB7;
  --fonte-principal: "Montserrat", sans-serif;
}

.tema-escuro {
  --cor-fonte-claro: #A5E9E1;
  --cor-fonte-medio: #606470;
  --cor-fundo-timer: #000000;
  --cor-fundo-timer-destacado: #303841;
  --cor-fundo-timer-botao: #1D242B;
}

.tema-verde {
  --cor-fonte-claro: #F7F1E5;
  --cor-fonte-medio: #609966;
  --cor-fundo-timer: #C7E9B0;
  --cor-fundo-timer-destacado: #A4BC92;
  --cor-fundo-timer-botao: #539165;
}

.tema-claro {
  --cor-fonte-claro: #606470;
  --cor-fonte-medio: #F2BED1;
  --cor-fundo-timer: #F9F5F6;
  --cor-fundo-timer-destacado: #F2BED1;
  --cor-fundo-timer-botao: #97C4B8;
}

body {
  font-family: var(--fonte-principal);
}

.pomodoro_container {
  background: var(--cor-fundo-timer);
  min-height: 100vh;
  border-bottom: 2px solid var(--cor-borda);
}

input, button {
  font-family: var(--fonte-principal);
}/*# sourceMappingURL=style.css.map */