@use 'styles/_timers.sass'
@use 'styles/_configuracoes.sass'
@use 'styles/_descricao.sass'
    
:root
    --cor-fonte-claro: #E9F8F9
    --cor-fonte-medio: #DBDFEA

    --cor-fundo-timer: #8EA7E9
    --cor-fundo-timer-destacado: #7286D3
    --cor-fundo-timer-botao: #146C94

    --cor-borda: #FFACB7
    --fonte-principal: 'Montserrat', sans-serif

.tema-escuro
    --cor-fonte-claro: #A5E9E1
    --cor-fonte-medio: #606470

    --cor-fundo-timer: #000000
    --cor-fundo-timer-destacado: #303841
    --cor-fundo-timer-botao: #1D242B

.tema-verde
    --cor-fonte-claro: #F7F1E5
    --cor-fonte-medio: #609966

    --cor-fundo-timer: #C7E9B0
    --cor-fundo-timer-destacado: #A4BC92
    --cor-fundo-timer-botao: #539165

.tema-claro
    --cor-fonte-claro: #606470
    --cor-fonte-medio: #F2BED1

    --cor-fundo-timer: #F9F5F6
    --cor-fundo-timer-destacado: #F2BED1
    --cor-fundo-timer-botao: #97C4B8

body
    font-family: var(--fonte-principal)

.pomodoro_container
    background: var(--cor-fundo-timer)
    min-height: 100vh
    border-bottom: 2px solid var(--cor-borda)

input, button
    font-family: var(--fonte-principal)
