@use 'styles/_timers.sass'
@use 'styles/_configuracoes.sass'
@use 'styles/_descricao.sass'
    
:root
    --cor-fonte-claro: #E9F8F9
    --cor-fonte-medio: #DBDFEA

    --fundo-timer: url('./img/backgrounds/azul_background.jpg')
    --fundo-opacidade: 0.8
    --cor-fundo-timer-destacado: #7286D3
    --cor-fundo-timer-botao: #146C94

    --cor-borda: #FFACB7
    --fonte-principal: 'Montserrat', sans-serif
    --fundo-mensagem: rgba(0, 0, 0, 0.5)

.tema-escuro
    --cor-fonte-claro: #A5E9E1
    --cor-fonte-medio: #606470

    --fundo-timer: url('./img/backgrounds/escuro_background.jpg')
    --fundo-opacidade: 1
    --cor-fundo-timer-destacado: #303841
    --cor-fundo-timer-botao: #1D242B

.tema-verde
    --cor-fonte-claro: #F7F1E5
    --cor-fonte-medio: #609966

    --fundo-timer: url('./img/backgrounds/verde_background.jpg')
    --fundo-opacidade: 0.8
    --cor-fundo-timer-destacado: #A4BC92
    --cor-fundo-timer-botao: #539165

.tema-claro
    --cor-fonte-claro: #F7F1E5
    --cor-fonte-medio: #F2BED1

    --fundo-timer: url('./img/backgrounds/claro_background.jpg')
    --fundo-opacidade: 0.8
    --cor-fundo-timer-destacado: #F2BED1
    --cor-fundo-timer-botao: #97C4B8
.tema-azul
    --cor-fonte-claro: #E9F8F9
    --cor-fonte-medio: #DBDFEA

    --fundo-timer: url('./img/backgrounds/azul_background.jpg')
    --fundo-opacidade: 0.8
    --cor-fundo-timer-destacado: #7286D3
    --cor-fundo-timer-botao: #146C94


body
    font-family: var(--fonte-principal)

.pomodoro_container
    background: var(--cor-fundo-timer)
    min-height: 100vh
    border-bottom: 2px solid var(--cor-borda)

input, button
    font-family: var(--fonte-principal)
