.tempo-atividades
    display: flex
    flex-direction: column
    gap: 1rem
    
    .atividade
        background: var(--cor-fundo-timer-destacado)
        padding: .5rem 1rem
        border-radius: 1rem

        h3
            font-size: 24px
            font-weight: 500
            margin-bottom: .5rem
