.timers
    margin: 0 2rem
    .timer-ativo_container
        flex-direction: column
        display: none
        align-items: center
        justify-content: center
        height: 100vh

        .timer
            color: var(--cor-fundo-tarefas)
            font-size: 64px
            font-weight: 700
            margin: 1rem auto
            background: var(--cor-fundo-timer-destacado)
            padding: 1rem
            border-radius: .75rem
            min-width: 15rem
            text-align: center
        
        .timer_descricao
            font-size: 24px
            color: var(--cor-fonte-claro)
            font-weight: 600
        
        .timer_mensagem
            font-weight: 600
            color: var(--cor-fonte-claro)
            margin: 2rem .5rem
            max-width: 32rem
            text-align: center
            color: var(--cor-fonte-medio)

